<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Adhyatm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <meta name="description" content="Explore a divine collection of devotional lyrics and wallpapers designed to inspire and uplift your spirit. Discover spiritual songs, chants, and prayers from various traditions, accompanied by high-quality wallpapers that reflect the beauty and essence of devotion. Perfect for creating a serene and spiritual ambiance.">
    <meta name="keywords" content="devotional lyrics, spiritual wallpapers, devotional songs, prayer lyrics, chants, bhajans, religious wallpapers, meditation music, spiritual art, divine wallpapers, hymns, sacred songs, mantra lyrics, serene backgrounds, worship resources, bhakti geet, adhyatmik wallpaper, bhajan, prarthana ke bol, mantra, dharmik wallpaper, dhyan sangeet, pooja samagri, pavitra geet, aarti, bhakti kala, dharmik prishthabhoomi, mantra bol, bhakti sangeet, shaantipurn wallpaper">
</head>

<body>
    <div th:replace="~{fragments/header :: header}">...</div>

    <main class="container-fluid py-1">

        <div class="container w-100 border p-2 min-vh-100 text-center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="container w-75">
                <p class="py-5"><em><strong>Explore a divine collection of devotional lyrics and wallpapers designed to inspire and uplift your spirit. Discover spiritual songs, chants, and prayers from various traditions, accompanied by high-quality wallpapers that reflect the beauty and essence of devotion. Perfect for creating a serene and spiritual ambiance.</strong></em></p>
                <hr>
                <p class="py-5"><em><strong>आपकी आत्मा को प्रेरित करने और उत्थान करने के लिए डिज़ाइन किए गए भक्ति गीत और वॉलपेपर के दिव्य संग्रह का अन्वेषण करें। विभिन्न परंपराओं के आध्यात्मिक गीतों, मंत्रों और प्रार्थनाओं की खोज करें, उच्च गुणवत्ता वाले वॉलपेपर के साथ जो भक्ति की सुंदरता और सार को दर्शाते हैं। शांत और आध्यात्मिक माहौल बनाने के लिए बिल्कुल सही।</strong></em></p>
            </div>
        </div>
    </main>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <div th:replace="~{fragments/footer :: footer}">...</div>
    <script src="/script.js"></script>
</body>

</html>